<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head>
		<title><ui:insert name="pageTitle">Northwind Application</ui:insert></title>
		<style type="text/css">
			body {
				  font-family: Verdana, Arial, Helvetica, sans-serif;
				  font-size: 14px;
			}
			.header {
				  font-family: Verdana, Arial, Helvetica, sans-serif;
				  font-size: 18px;
			}
			.bottom {
				  font-family: Verdana, Arial, Helvetica, sans-serif;
				  font-size: 9px;
				  text-align: center;
				  vertical-align: middle;
				  color: #8E969D;
			}
		</style>
		</head>

<body bgcolor="#ffffff">
<table style="border:1px solid #CAD6E0"  align="center" cellpadding="0" cellspacing="0" border="0" width="400">
<tbody>

	<tr>
		<td class="header" height="42" align="center" valign="middle" width="100%" bgcolor="#E4EBEB">
			<ui:insert name="pageHeader">Northwind Application (templates/index.html)</ui:insert>
		</td>
	</tr>
	<tr>
		<td height="1" width="100%" bgcolor="#CAD6E0"></td>
	</tr>	

	<tr>
		<td width="100%"  colspan="2">
			<table width="100%" style="height:150px" align="left" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="/employees/list">Employees List</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="employees/show/1">Employees Show 1</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="employees/edit/1">Employees Edit 1</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="/employees/new">Employees New</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="/employees">Employees</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="/restorders/search/findByOrderID?orderID=10248">orderID.sh</a></ui:insert>
					
					</td>
				</tr>
				<tr>
					<td align="center" width="100%" valign="middle">
					
					<ui:insert name="body"><br></br><a href="/employees/delete/102">Employees Delete 102</a></ui:insert>
					
					</td>
				</tr>
			</tbody>
			</table>
		</td>
	</tr>	
	
	<tr>
		<td colspan="2"  valign="bottom" height="1" width="100%" bgcolor="#CAD6E0"></td>
	</tr>
</tbody>
</table>
</body>
</html>